@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(234, 255, 255, 0.626);
    font-family: 'Source Sans Pro', sans-serif;
}
/* heading  */
#heading{
    text-align: center;
}
/* box  */
.box{
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid aqua;
    width: 60vw;
    margin-left: 20vw;
    border-radius: 18px;
    margin-top: 3rem;
    padding-bottom: 2rem;
}
/* UI  */
#UI{
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    font-size: 1.1rem;
}
/* Input  */
input{
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
}
#input{
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
}
#userinput{
    font-size: 1rem;
}
/* Type conversion */
#typeconversion{
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
}
#conversion{
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
}
/* btn  */
#btn{
    width: fit-content;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 9px;
    font-size: 1.1rem;
    font-weight: bold;
}
/* result  */
#result{
    font-size: 1.3rem;
    font-weight: bold;
}
/* output  */
#output{
    font-size: 1.2rem;
}

@media screen and (max-width: 500px) {
    html{
        font-size: 1.2rem;
    }
    #heading{
        font-size: 0.9rem;
    }
    .box{
        width: 80vw;
        margin-left: 10vw;
    }
    #userinput{
        margin-left: 0;
    }
    #btn{
        margin: 0;
    }
    #result{
        margin-top: 1rem;
    }
}